<!DOCTYPE html>
<html>
    <head>
        <title>Calculators</title>
        <link href="/static/styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="calculators">
            <form class="cosine-law" onsubmit="return CalculateCosineLaw(event)">
                <h1>Cosine Law</h1>
                <label>Side a:</label>
                <input type="number" step="any" id="cosine-side-a">
                <label>Side b:</label>
                <input type="number" step="any" id="cosine-side-b">
                <label>Angle c:</label>
                <input type="number" step="any" id="cosine-angle-c">
                <label>Side c (Result):</label>
                <input readonly class="cosine-side-c">
                <button class="cosine-calculate" type="submit">Calculate</button>
            </form>
            <form class="asymptote" onsubmit="return CalculateAsymptote(event)">
                <h1>Asymptote Finder</h1>
                <label>m Value:</label>
                <input type="number" id="asymptote-m-value">
                <label>n Value:</label>
                <input type="number" id="asymptote-n-value">
                <label>Asymptote Type (Result):</label>
                <input readonly class="asymptote-type">
                <button class="asymptote-calculate" type="submit">Calculate</button>
            </form>
            <form class="pi-approximation" onsubmit="return CalculateGregoryLeibnizPiApproximation(event)">
                <h1>Gregory-Leibniz Pi Approximation</h1>
                <label>n Value:</label>
                <input type="number" step="any" id="pi-approximation-n-value">
                <label>Pi Approximation (Result):</label>
                <input readonly class="pi-approximation-result">
                <button class="pi-approximation-calculate" type="submit">Calculate</button>
            </form>
        </div>
        <script src="/static/script.js"></script>
    </body>
</html>