<!DOCTYPE html>
<html>
    <head>
        <title>Netflix</title>
        <link href="/static/styles.css" rel="stylesheet">
        <script src="/static/script.js"></script>
    </head>
    <body>
        <div class="cosine-law">
            <h1>Cosine Law</h1>
            <h2>Side a</h2>
            <input>
            <h2>Side b</h2>
            <input>
            <h2>Angle c</h2>
            <input>
            <h2>Side c (Result)</h2>
            <input>
            <button>Calculate</button>
        </div>
        <div class="asymptote">

        </div>
        <div class="pi-approximation">

        </div>
    </body>
</html>